section{
    background-color: rgb(203, 6, 6);
    height: 100vh;
    width: 100%;

}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: white;

}

.ul-list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.textdata{
    display: flex;
    margin-top: 200px;
    /* margin-right: 600px; */
}
.textdata1{
   margin: 40px;
}

img{
    width: 400px;
    height: 300px;
    margin-left: 500px;

}
.btn{
    /* margin-right: 600px; */
    padding: 10px;
    cursor: pointer;
}
